.back-btn {
  margin-bottom: 10px;
}

.container {
  height: calc(100dvh - 160px);
  width: 100%;
  overflow: auto;

  .sub-container {
    column-count: 4;

    .category-card {
      break-inside: avoid-column;
      margin-bottom: 10px;

      .header {
        margin-bottom: 50px;
      }

      .heading {
        margin-bottom: 0;
      }
    }

    .item-card {
      break-inside: avoid;
      margin-bottom: 10px;

      .header {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
      }

      .content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
        padding: 0 3% 10px 0;

        .btn-icons {
          font-size: small;
          margin: 0;
          padding: 5px 0 0 0px;
        }
      }
    }
  }

  .divider {
    margin-bottom: 15px;
    color: rgb(216, 216, 216);
  }
}

@media screen and (max-width: 1200px) {
  .sub-container {
    column-count: 2 !important;
  }
}

@media screen and (max-width: 960px) {
  .sub-container {
    column-count: 4 !important;
  }
}

@media screen and (max-width: 720px) {
  .sub-container {
    column-count: 2 !important;
  }
}
