<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawerLeft
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    position="start"
  >
    <app-left-menu></app-left-menu>
  </mat-sidenav>
  <mat-sidenav
    #drawerRight
    class="sidenav-right"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    position="end"
  >
    <app-right-menu></app-right-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-menu-content
      (toggleLeftMenu)="drawerLeft.toggle()"
      (toggleRightMenu)="drawerRight.toggle()"
    ></app-menu-content>
  </mat-sidenav-content>
</mat-sidenav-container>
